// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Silkscreen';
    src: url('../assets/fonts/slkscr-webfont.eot');
    src: url('../assets/fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/slkscr-webfont.woff') format('woff'),
         url('../assets/fonts/slkscr-webfont.ttf') format('truetype'),
         url('../assets/fonts/slkscr-webfont.svg#silkscreen') format('svg');
    font-weight: normal;
    font-style: normal;

}

$primary-color: #DC0A2D;

.button {
	background-color: $primary-color;
	width: 100%;
	padding: 2rem;
	border-radius:3px;
	border-top: 4px solid lighten($primary-color, 10%);
	border-bottom: 4px solid darken($primary-color, 10%);
	color:#fff;
	text-transform: uppercase;
	font: 2rem 'Silkscreen';
	text-shadow: 0 2px rgba(#000, .4);
}

.actions-footer {
	position: fixed;
	bottom: 70px;
	padding: 0 1rem;
	width: 100%;
}